@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 20px;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}

p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}

.button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    z-index: 1;
}

.button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
}

.button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
}

.button-primary:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* Ensure overlay adjusts to the content */
  height: 100%; /* Make sure the overlay covers the full area */
  width: 100%;
}

.header-area {
  position: relative;
  min-height: 70vh; /* Ensure the height is at least 100vh but can grow with content */
  background: #ffffff;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 30, 51, 1.0);
}

.banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 50%;
    color: #fff;
    text-align: center;
    z-index: 1;
    padding-top: 100px;
}

.banner h1 {
    font-weight: 800;
}

.banner p {
    font-weight: 700;
}

.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
}

.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
}

.navbar .navbar-toggler {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-1px);
    transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
    opacity: 1;
    transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
    opacity: 1;
    transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
    opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
    transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .dropdown-menu {
    padding: 0;
    background-color: rgba(0, 0, 0, .9);
}

.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #c0ca33;
}

.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #c0ca33;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar.fixed-top {
    position: fixed;
    animation: navbar-animation 0.6s;
    background-color: rgba(0, 0, 0, .9);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: #c0ca33;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: #c0ca33;
}

.content {
    padding: 120px 0;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px;
    }

    .navbar-nav {
        padding: 0 20px;
        background-color: rgba(0, 0, 0, .9);
    }

    .navbar.fixed-top .navbar-nav {
        background: transparent;
    }
}

@media screen and (min-width: 767px) {
    .banner {
        padding: 0 150px;
    }

    .banner h1 {
        font-size: 5rem;
    }

    .banner p {
        font-size: 2rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }

    .navbar-dark .navbar-nav .nav-link:hover::after {
        transform: scaleX(1);
    }

    .dropdown-menu {
        min-width: 200px;
        animation: dropdown-animation 0.3s;
        transform-origin: top;
    }
}

@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navbar-animation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes dropdown-animation {
    0% {
        transform: scaleY(0);
    }
    75% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes dropdown-animation {
    0% {
        transform: scaleY(0);
    }
    75% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.footer .footer-socila-icon a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #005F9F;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 15px;
}

.footer .footer-socila-icon a:hover {
    background: #1baaa0;
}

.footer .footer-links {
    margin: 0;
}

.footer .footer-links li+li {
    padding-top: 10px;
}

.footer .footer-links li a {
    position: relative;
}

.footer .footer-links li a:after {
    content: "";
    position: absolute;
    width: 0px;
    left: auto;
    right: 0;
    bottom: 0;
    height: 1px;
    transition: ease all 0.35s;
    background: #1b25b3;
}

.footer .footer-links li a:hover:after {
    width: 100%;
    left: 0;
    right: auto;
}

.footer .footer-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer .footer-top h5,
.footer .footer-top .h5 {
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .footer .footer-top {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

.footer .footer-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-top.dark {
    border-top: 1px solid rgba(16, 16, 16, 0.1);
}

.footer .footer-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-border-bottom.dark {
    border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.bg-dark-gradient {
    background: linear-gradient(180deg, #001e33 50%, #001e33 100%) repeat-x !important;
}

.white-link a {
    color: rgba(255, 255, 255, 0.65);
}

a {
    text-decoration: none;
}

.avatar-lg img {
   width: 90px;
   height: 90px;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.65)
}
